<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ventas</title>
    <link rel="stylesheet" th:href="@{/css/entidades.css}">
</head>
<body>

<div class="container">

    <h2>Listado de Ventas</h2>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Fecha</th>
            <th>Total</th>
            <th>Estado</th>
            <th>DPI Cliente</th>
            <th>Código Usuario</th>
            <th>Acciones</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="v : ${ventas}">
            <td th:text="${v.codigoVenta}"></td>
            <td th:text="${v.fechaVenta}"></td>
            <td th:text="${v.total}"></td>
            <td th:text="${v.estado}"></td>
            <td th:text="${v.dpiCliente}"></td>
            <td th:text="${v.codigoUsuario}"></td>
            <td>
                <a class="btn-edit" th:href="@{/ventas/editar/{id}(id=${v.codigoVenta})}">Editar</a>

                <a class="btn-delete"
                   th:href="@{/ventas/eliminar/{id}(id=${v.codigoVenta})}"
                   onclick="return confirm('¿Eliminar venta?')">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>

    <hr>

    <h2 th:text="${venta != null and venta.codigoVenta == null ? 'Nueva Venta' : 'Editar Venta'}"></h2>

    <form th:action="@{/ventas/guardar}" th:object="${venta}" method="post">

        <input type="hidden" th:field="*{codigoVenta}"/>

        <div>
            <label>Fecha</label>
            <input type="date" th:field="*{fechaVenta}" required>
        </div>

        <div>
            <label>Total</label>
            <input type="number" step="0.01" th:field="*{total}" required>
        </div>

        <div>
            <label>Estado</label>
            <input type="number" th:field="*{estado}" required>
        </div>

        <div>
            <label>DPI Cliente</label>
            <input type="number" th:field="*{dpiCliente}" required>
        </div>

        <div>
            <label>Código Usuario</label>
            <input type="number" th:field="*{codigoUsuario}" required>
        </div>

        <button type="submit" class="btn-add">Guardar</button>
    </form>

    <br>
    <a th:href="@{/home}">Volver al Home</a>

</div>

</body>
</html>